.App{
  display: flex;
}
.info-block{
  margin: 0 1em;
}
.main-form{
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.main-form>.select{
  width: 200px;
  height: 40px;
  margin-right: .5em;
}
.main-form>.start-btn{
  height: 40px;
  padding: 0 .5em;
}
.squares-wrapper{
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
}
.squares-info{
  display: flex;
  flex-direction: column;
  max-height: 225px;
  overflow-y: auto;
}